shamefully-hoist=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
shell-emulator=true
node-linker=hoisted
prefer-workspace-packages=true
save-workspace-protocol=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*nx*
public-hoist-pattern[]=*biome*
public-hoist-pattern[]=*prettier*